@{
    ViewData["Title"] = "FogotPass";
}
<h1>Xac nhan mail</h1>
@Html.Partial("_ThongBao")
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ValidCode" method="post" asp-route-username = "@ViewBag.username">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input id = "code" name="code" class="form-control" />
            </div>
            <div class="from-group">
                <input type="submit" value="Xac nhan" class="btn btn-primary" />
                Back <a asp-action="Login">LOGIN</a>
            </div>
        </form>
    </div>
</div>