@model IEnumerable<App.Models.Box>

@{
    ViewData["Title"] = "Index";
    var listBoxShare =  ViewBag.listBoxShare as List<App.Models.Box>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@Html.Partial("_ShowBox",Model)
<h5>List share</h5>
@Html.Partial("_ShowBox",listBoxShare)